
@{
    ViewBag.Title = "Create";
}

<form action="Create" method="post">

    <p><a>Id :</a><input type="Number" name="id" value="" placeholder="your id" /></p>
    <p><a>Name :</a><input type="text" name="name" value="" placeholder="your name" /></p>
    <p><a>Phone:</a><input type="text" name="city" value="" placeholder="your city" /></p>
    <p><a>City:</a><input type="text" name="phone" value="" placeholder="your phone" /></p>
    
    <input type="submit" value="created"  />
</form>



