@model CRUD.Models.Person
@{
    ViewBag.Title = "Create";
}

<form action="/Home/Create" method="post">
    <div class="form-group">
        <label>Id</label>
        <input type="number" name="id" placeholder="your id" class="form-control" />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" placeholder="your name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="text" name="phone" placeholder="your phone" class="form-control" />
    </div>    <div class="form-group">
        <label>Name</label>
        <input type="text" name="city" placeholder="your city" class="form-control" />
    </div>
    <input type="submit" value="created" class="form-control" />
</form>
<br /><br />
@Html.ActionLink("Back home", "Index")


@*@using (Html.BeginForm("Index","Home",FormMethod.Post))
{
    @Html.LabelFor(x=>x.)@Html.TextBoxFor()
}*@
